.main {
  margin-left: 280px;
  background: linear-gradient(
    to right bottom,
    #ffffffb9,
    rgba(120, 99, 235, 0.3)
  );
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 280px;

  background-color: #2884b8;
  background-image: linear-gradient(315deg, #2884b8 0%, #d1bad2 74%);

  color: rgb(0, 0, 0);
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.2) #54b689;
  scrollbar-width: thin;
}
.profile-image {
  max-width: 160px;
}

.profile-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
.social-icon {
  width: 32px;
  height: 32px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  color: #54b689;
  text-decoration: none;
  background-color: transparent;
  background-color: #fff;
}
.tech-icon {
  width: 32px;
  height: 32px;
  font-size: 1.875rem;
}
.tech-title {
  font-size: 1rem;
}

.header::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.header::-webkit-scrollbar {
  width: 10px;
  background-color: #a9b2dd;
}

@media (max-width: 991.98px) {
  .header {
    position: static;
    width: inherit;
    height: auto;
  }
  .header .blog-name {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.2rem;
  }
  .header .btn-primary {
    width: 100%;
  }
  .header .navbar {
    padding: 1rem;
  }
  .main {
    margin-left: 0;
  }
  .resume-aside {
    border-left: 0;
  }
}

@media (max-width: 767.98px) {
  .signup-form .form-group {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .signup-form .form-control {
    width: 100%;
  }
  .signup-form .btn-primary {
    width: 100%;
  }
  .profile-teaser .profile-image {
    max-width: 100%;
  }
  .header .nav-item .dropdown-menu .dropdown-item {
    padding-left: 1.875rem;
  }
  .resume-contact {
    border-left: 0;
  }
  .mobile-is-hidden {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header .nav-item .dropdown-menu .dropdown-item {
    padding-left: 1.875rem;
  }
  .link-mask {
    display: none !important;
  }
  .mobile-is-hidden {
    display: none;
  }
}
.box {
  background-color: #282a38;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5),
    0 6px 20px 0 rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.card {
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.portfolio {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
.carousel-inner img {
  width: 100%;
  height: 80%;
}

portfolio-button {
  border-radius: 50%;
}
.carousel {
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.contactcard {
  overflow-x: scroll;
}
