/* .me{
    background: linear-gradient(var(--color-primary),transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12rem 12rem 0 0;
    margin-top: 4rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem;

}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
.emoji{
    font-size: 2rem;
    animation: waving-hand 2.5s infinite;
    transform-origin: 70% 70%;
    color: var(--color-primary);
}

@keyframes waving-hand{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4.0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
} */
/************ Banner Css ************/
.banner {
    margin-top: 0;
    /* padding: 260px 0 100px 0; */
    /* background-image: url('../../assets/banner-bg.png'); */
    /* background-position: top center; */
    /* background-size: cover; */
    
    /* background-repeat: no-repeat; */
  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }
  .banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .banner button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }