.experience__container{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 2rem !important;
}

.experience__container >div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.experience__container >div:hover{
    background: transparent;
    border-color: var(--color-primary-varaint);
    cursor: default;
}
.experience__container >div h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details{
    display: flex;
    gap: 1rem;
}

.experience__details-icon{
    color: var(--color-primary) !important;
    margin-top: 6px !important;
}
@media screen and (max-width:1024px){
.experience__container{
    grid-template-columns: 1fr !important;
}
.experience__container >div{
    width: 80% !important;
    margin: 0 auto !important;
}
.experience__content{
    padding: 1rem !important;
}
    
}
@media screen and (max-width:600px){
    .experience__container{
        gap: 1rem !important;
    }
    .experience__container >div{
        width: 100% !important;
        padding: 2rem 1rem !important;
    }
}