nav{

    background: rgba(0,0,0,0.3) !important;
    width: max-content !important;
    display: block !important;
    padding: 0.7rem 1.7rem !important;
    z-index: 2 !important;
    position: fixed !important;
    left: 50% !important;
    bottom: 2rem !important;
    display: flex !important;
    gap: 0.8rem !important;
    border-radius: 3rem !important;
    backdrop-filter: blur(15px) !important;
    transform: translateX(-50%) !important
}

nav a{
    padding: 0.9rem !important;
    background: transparent !important; 
    color: var(--color-light) !important;
    font-size: 1.1rem !important;
    border-radius: 50% !important;
    display: flex !important;
}
nav a:hover{
    background: rgba(0,0,0, 0.4) !important
}

nav a.active{

    background: var(--color-primary) !important;
    color: var(--color-bg) !important;
}